---
# -----------------------------
# This Ansible playbook setup the environment:
#
# Installation of K3S and Liqo on the local node and remote node (targets)
#
# Installation and setup of the ddns updater on a specific node (ddns)
#
# -----------------------------

- name: Cluster prep
  hosts: localhost
  gather_facts: true
  become: true
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  pre_tasks:

    - name: Get OS language
      when: not ansible_env.LANG.startswith('en')
      ansible.builtin.debug:
        msg: "OS language must be set to English"

    - name : Get k3s version
      ansible.builtin.command: k3s --version
      register: k3s_version_output
      changed_when: false
      ignore_errors: true

    - name: Get kubectl version
      ansible.builtin.command: kubectl version --client --short
      register: kubectl_version_output
      changed_when: false
      ignore_errors: true

    - name: Get minikube version
      ansible.builtin.command: minikube version
      register: minikube_version_output
      changed_when: false
      ignore_errors: true

    - name: Get MicroK8s version
      ansible.builtin.command: microk8s version
      register: microk8s_version_output
      changed_when: false
      ignore_errors: true

    - name: Get OpenShift (oc) version
      ansible.builtin.command: oc version
      register: openshift_version_output
      changed_when: false
      ignore_errors: true

    - name : Get helm version
      ansible.builtin.command: helm version
      register: helm_version_output
      changed_when: false
      ignore_errors: true

  roles:
    - role: prereq
      when: k3s_version_output.rc != 0 or kubectl_version_output.rc != 0 or 
            minikube_version_output.rc != 0 or microk8s_version_output.rc != 0 or
            openshift_version_output.rc != 0 and
            (ansible_env.LANG.startswith('en') or ansible_env.LANG.startswith('C.UTF-8'))
    - role: helm_installation
      when: k3s_version_output.rc != 0 or kubectl_version_output.rc != 0 or 
            minikube_version_output.rc != 0 or microk8s_version_output.rc != 0 or
            openshift_version_output.rc != 0
    - role: k3s
      when: k3s_version_output.rc != 0
    - role: nginx_installation
    - role: liqo-setup
    - role: energymon


- name: DDNS updater setup
  hosts: remote_node
  become: true

  roles:
    - role: ddns