---
# -----------------------------
# This Ansible playbook setup the environment:
#
# Installation of K3S and Liqo on the local node and remote node (myhosts)
#
# Installation and setup of the ddns updater on a specific node (ddns)
#
# -----------------------------

- name: Cluster prep
  hosts: local_node
  gather_facts: true
  become: true
  pre_tasks:

    - name: Get OS language
      when: not ansible_env.LANG.startswith('en')
      ansible.builtin.debug:
        msg: "OS language must be set to English"

    - name : Get k3s version
      ansible.builtin.command: k3s --version
      register: k3s_version_output
      changed_when: false
      ignore_errors: true

    - name : Get helm version
      ansible.builtin.command: helm version
      register: helm_version_output
      changed_when: false
      ignore_errors: true

  roles:
    - role: prereq
      when: k3s_version_output.rc != 0 and ansible_env.LANG.startswith('en')
    - role: k3s
      when: k3s_version_output.rc != 0 and ansible_env.LANG.startswith('en')
    - role: nginx_installation
      when: ansible_env.LANG.startswith('en')
    - role: helm_installation
      when: helm_version_output.rc != 0 and ansible_env.LANG.startswith('en')
#    - role: energymon
    - role: liqo-setup
      when: helm_version_output.rc != 0 and ansible_env.LANG.startswith('en')


#- name: DDNS updater setup
#  hosts: remote_node
#  become: true

#  roles:
#    - role: ddns