---
- name: remove swap
  shell: "swapoff -a"

- name: Populate service facts
  ansible.builtin.service_facts:

- name: Allow UFW Exceptions
  when:
    - ansible_facts.services['ufw'] is defined
    - ansible_facts.services['ufw'].state == 'running'
  block:      

    - name: Get ufw status
      ansible.builtin.command:
        cmd: ufw status
      changed_when: false
      register: ufw_status

    - name: Display ufw status
      ansible.builtin.debug:
        var: ufw_status

    - name: If ufw enabled, open api port
      when: ufw_status.stdout | regex_search('attivo')
      community.general.ufw:
        rule: allow
        port: "{{ api_port }}"
        proto: tcp

    - name: If ufw enabled, allow default CIDRs
      when: ufw_status['stdout'] == "Stato':' attivo"
      community.general.ufw:
        rule: allow
        src: '{{ item }}'
      loop: "{{ (cluster_cidr + ',' + service_cidr) | split(',') }}"
      
    # ----------------
    # By default, the Kubernetes API server listens on port 6443. 
    # If the ufw firewall on the node is in use, enable connection on the specific port TCP 6443
    # ----------------
    - name: If ufw enables, allow 6443/tcp (Liqo)
      when: ufw_status['stdout'] == "Stato':' attivo"
      community.general.ufw:
        rule: allow
        port: 6443
        proto: tcp  

- name: Allow Firewalld Exceptions
  when:
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'
  block:  
    - name: If firewalld enabled, open api port
      ansible.posix.firewalld:
        port: "{{ api_port }}/tcp"
        zone: trusted
        state: enabled
        permanent: true
        immediate: true

    - name: If firewalld enabled, allow default CIDRs
      ansible.posix.firewalld:
        source: "{{ item }}"
        zone: trusted
        state: enabled
        permanent: true
        immediate: true
      loop: "{{ (cluster_cidr + ',' + service_cidr) | split(',') }}"

